/* General */

body {
/*    font-family: 'Lato' !important;*/
    font-family: 'Open Sans' !important;
}

.container {
    width: 94%;
    max-width: 860px;
    margin: 0px auto;
    margin-top: 20px;
}

/* Menu */

#sidebar {
    margin-top: 3px;
    text-align: right;
}

.brand {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 15px;
}

.title {
    font-weight: normal;
    font-size: 0.8em;
}

ul.menu {
    list-style-type: none;
}

ul.menu a {
    color: #333;
}

ul.menu li.active {
    font-weight: bold;
}

#affiliation {
    margin-top: 18px;
}

.affiliation {
    font-size: 1.2em;
    font-weight: bold;
}

.affiliation a {
    color: #333;
}

/* Banner */

.text {
    font-size: 1.2em;
    color: #666;
}

.banner {
    background: #e4e4e4;
    padding: 5px;
}

/* Front Page */


.subtitle {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-weight: normal;
}

/* License */

#license a {
    color: #333;
    text-decoration: underline;
}

#license {
    margin-top: 5px;
}

/* Calendar */

.schedule {
    display: table !important;
}

.filled {
    background: #e4e4e4;
}

.borders {
    border-top: 1px solid #333;
}

.day {
    padding: 5px 5px;
    background-color: #333;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 0.8em;
}

.item {
    color: #333;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
    display: table-cell !important;
    vertical-align: middle;
    height: 50px;
}

.time {
    text-align: right;
    padding-right: 5px;
    display: table-cell !important;
    vertical-align: middle;
    height: 50px;
    font-size: 0.8em;
}

/* Misc */

.clear {
    clear: both;
}

h1 {
    font-size: 1.2em;
    background-color: #333;
    color: white;
    padding: 0 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

h1.plain {
    margin-bottom: 0px;
    padding: 0px;
    text-align: left;
    color: #333;
    background-color: white;
    font-weight: normal;
}

h2 {
    font-size: 1em;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0px;
    background-color: #e4e4e4;
    padding: 0 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

hr {
    margin-left: 120px;
    margin: 10px 0px 10px 120px;
}

.minus {
    margin-top: -10px;
}

.top {
    margin-top: 0px;
}

.big {
    font-size: 1.4em;
}

.small {
    font-size: 0.8em;
}

.indent {
    margin-left: 30px;
}

.spacing li {
    margin-top: 20px;
}

.spacing10 li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padbottom20 {
    margin-bottom: 20px;
}

.bottom10 {
    padding-bottom: 10px;
}

.top15 {
    margin-top: 15px;
}

.pad20 {
    padding: 20px 0px;
}

.pad10 {
    padding: 10px 0px;
}

.caption {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 10px;
}

.caption:before {
    content: '\2014';
    margin-right: 5px;
}

.center {
    text-align: center;
}

.right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.left {
    float: left;
}

.border {
    border: 1px solid #888;
}

.pad {
    padding: 5px;
}

.pad-left-10 {
    padding-left: 10px;
}

.height-400 {
    max-height: 400px;
}

.height-550 {
    max-height: 535px;
}

.height-300 {
    height: 300px;
}

.height-200 {
    height: 200px;
}

.height-100 {
    height: 100px;
}

.height-50 {
    height: 50px;
}

.width-500 {
    width: 500px;
}

.width-400 {
    width: 400px;
}

.width-300 {
    width: 300px;
}

.max-width-150 {
    max-width: 150px;
}

.max-width-400 {
    max-width: 400px;
}

.email {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.circle {
    display:inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    background: #333;
    color: white;
    text-align: center;
    line-height: 30px;
}

pre {
  font-size: 1em;
}

.label-success {
}
