<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Daniel Zappala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
	<div id="sidebar" class="span3">
	  <div class="brand">Daniel Zappala<br><span class="title">Associate Professor</span></div>
	  <div class="clear"></div>
	  <div id="affiliation">
	    <span class="affiliation"><a href="http://byu.edu">BYU</a>
	      | <a href="http://cs.byu.edu">Computer Science</a></span>
	  </div>
	  <hr>
	  <ul class="menu">
	    <li id="menu-home" {% if active == "index" %}class="active"{% endif %}><a href={{url_for("index")}}>Home</a></li>
	    <li {% if active == "teaching" %}class="active"{% endif %}><a href={{url_for("show",directory="teaching")}} >Teaching</a></li>
	    <li {% if active == "research" %}class="active"{% endif %}><a href={{url_for("show",directory="research")}} >Research</a></li>
	    <li {% if active == "software" %}class="active"{% endif %}><a href={{url_for("show",directory="software")}} >Software</a></li>
	    <li {% if active == "publications" %}class="active"{% endif %}><a href={{url_for("show",directory="publications")}} >Publications</a></li>
	    <li {% if active == "schedule" %}class="active"{% endif %}><a href={{url_for("show",directory="schedule")}} >Schedule</a></li>
	    <li><a href="/static/pubs/vita.pdf">Vita</a></li>
	  </ul>
	  <div class="personal">
	    <p><img class="border max-width-150" src="/static/img/daniel-zappala.jpg"></p>
	    <p>
	      <a href="//plus.google.com/114449822521576560110?prsrc=3"
		 rel="publisher" target="_top" style="text-decoration:none;">
		<img src="//ssl.gstatic.com/images/icons/gplus-32.png"
		     alt="Google+" style="border:0;width:32px;height:32px;margin-right:5px;"/>
	      </a>
	      <a href="https://twitter.com/Daniel_Zappala"><img src="/static/img/twitter.png" style="border:0;width:32px;height:32px;margin-right:5px;"></a>
	      <a href="http://www.linkedin.com/in/danielzappala/"><img src="/static/img/linkedin.png" style="border:0;height:32px;margin-right:5px;"></a>
	    </p>
	    <p>daniel.zappala@gmail.com</p>
	    <p>3361 TMCB, Brigham Young University, Provo, UT 84062</p>
	    <p>801-422-2195</p>
	    <hr>
	  </div>
	  <div id="license">
	    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> 
	    <p>&copy 2013 Daniel Zappala</p>
	  </div>
	</div>
	<div class="span9">
	  <div id="page">
	    {% block page %}{% endblock %}
	  </div>
	</div>
      </div>
    </div>
    
  </body>
</html>
