{% extends "base.html" %}

{% block page %}

<div class="banner3 padbottom20">
  <div class="container">
    <div class="row-fluid">
      <div class="span10">
	<h1><a href="http://internet.byu.edu">Internet Research Lab</a></h1>
	<ul class="indent">
	  <li>personal cloud computing</li>
	  <li>social networking</li>
	  <li>wireless networks</li>
	</ul>
	<h1><a href="http://osl.byu.edu">Open Source Lab</a></h1>
	<ul class="indent">
	  <li>family history</li>
	  <li>civic apps</li>
	</ul>
	<div class="banner4 center">
	  <h3>Get Involved</h3>
	  <p>Contact me at daniel.zappala@gmail.com for research
	    or coding opportunities.</p>
	</div>
      </div>
      <div class="span2 top15">
	<p><img class="border height-550" src="/static/img/daniel-zappala.jpg"></p>
	<p>
	  <a href="//plus.google.com/114449822521576560110?prsrc=3"
	     rel="publisher" target="_top" style="text-decoration:none;">
	    <img src="//ssl.gstatic.com/images/icons/gplus-32.png"
		 alt="Google+" style="border:0;width:32px;height:32px;margin-right:5px;"/>
	  </a>
	  <a href="https://twitter.com/Daniel_Zappala"><img src="/static/img/twitter.png" style="border:0;width:32px;height:32px;margin-right:5px;"></a>
	  <a href="http://www.linkedin.com/in/danielzappala/"><img src="/static/img/linkedin.png" style="border:0;height:32px;margin-right:5px;"></a>
	</p>
	<p>daniel.zappala@gmail.com</p>
	<p>3361 TMCB, Brigham Young University, Provo, UT 84062</p>
	<p>801-422-2195</p>

      </div>
    </div>
  </div>
</div>


{% endblock %}
