{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid minus">
    <div class="span6">
      <h1>Things I do</h1>
      <h2><a href="/teaching">Teaching</a></h2>
      <ul class="indent">
	<li>Internet programming</li>
	<li>computer networks</li>
      </ul>
      <h2><a href="http://internet.byu.edu">Internet Research Lab</a></h2>
      <ul class="indent">
	<li>personal cloud computing</li>
	<li>social networking</li>
	<li>wireless networks</li>
      </ul>
      <h2><a href="http://osl.byu.edu">Open Source Lab</a></h2>
      <ul class="indent">
	<li>family history</li>
	<li>civic apps</li>
      </ul>
      <h2><a href="/software">Software</a></h2>
      <ul class="indent">
	<li><a href="https://github.com/zappala/wifu">WiFu</a></li>
	<li><a href="http://leaf.byu.edu">leaf</a></li>
	<li><a href="http://citizenbudget.org">Citizen Budget</a></li>
      </ul>
      <h2><a href="http://cedarhills.org/mayor-city-council">Cedar Hills City Council</a></h2>
      <h2><img src="/static/img/github.png"> GitHub Accounts</h2>
      <ul class="indent">
	<li><a href="https://github.com/zappala/">Daniel Zappala</a></li>
	<li><a href="https://github.com/byu-ilab">Internet Research Lab</a></li>
	<li><a href="https://github.com/byu-osl">Open Source Lab</a></li>
      </ul>
    </div>
    <div class="span6">
      <h1>Things I care about</h1>

      <h2>Reforming Software Patents</h2>
      <p>Software patents are threatening innovation, particularly for
	small businesses and entrepreneurs. See the EFF page for a
	good <a href="https://www.eff.org/patent">overview</a> of the
	issues. Listen to When Patents
	Attack! <a href="http://www.thisamericanlife.org/radio-archives/episode/441/when-patents-attack">Part
	One</a>
	and <a href="http://www.thisamericanlife.org/radio-archives/episode/496/when-patents-attack-part-two">Part
	Two</a> by This American Life and Planet Money.</p>

      <h2>Open Government</h2>

      <p>Governments work best when they are transparent and encourage
	civic engagement. Groups like
	the <a href="http://sunlightfoundation.com/">Sunlight
	Foundation</a>, <a href="http://codeforamerica.org/">Code for
	America</a>, and numerous others are working to open
	government data and apply technology to engage citizens. I am
	trying to do my part in my role on the city council of Cedar
	Hills and through
	the <a href="http://citizenbudget.org">Citizen Budget</a>
	project.</p>
	
      <h2>Open Source Software</h2>

      <p>I enjoy building free and open software in the spirit of
	community service that is at the heart
	of <a href="http://aims.byu.edu/">BYU's mission</a>. Open
	source means we can work together on technology that does a
	small part to make the world a better place.</p>

    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="banner center">
	<h3>Get Involved</h3>
	<p>Contact me at daniel.zappala@gmail.com for research
	  or coding opportunities.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
