{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Publications</h1>

      <p>The following publications are available for personal use
      only. To make copies for distribution, please see the publisher
      regarding copyright policy.</p>

      <h3>Journals</h3>

      <ul class="spacing10">

<li>Daniel Zappala, Virginia Lo, and Chris GauthierDickey, <a href="/static/pubs/malloc-comnet04.pdf">The Multicast Address Allocation Problem: A Theoretical Framework and Performance Evaluation</a>, Special issue of Computer Networks, Elsevier Science, Volume 45, Issue 1, pages 55-73, May 2004.</li>

<li>Arthur Farley, Andrzej Proskurowski, Daniel Zappala, and Kurt Windisch, <a href="/static/pubs/spanners-dam03.pdf">Spanners and Message Distribution in Networks</a>, Discrete Applied Mathematics, Elsevier Science, Volume 137, Issue 2, pages 159-171, March 2004.</li>

<li>Daniel Zappala, <a href="/static/pubs/apm-ton04.pdf">Alternate Path Routing for Multicast</a>, IEEE/ACM Transactions on Networking, Volume 12, Issue 1, pages 30-43, February 2004 (Extended version of Infocom 2000 paper).</li>

<li>Daniel Zappala, Aaron Fabbri, and Virginia Lo, <a href="/static/pubs/mct-telesys02.pdf">An Evaluation of Shared Multicast Trees with Multiple Cores</a>, Journal of Telecommunication Systems, Kluwer, Volume 19, Issue 3, pages 461-479, March 2002 (Revised version of ICN'01 paper).</li>

<li>Lixia Zhang , Steve Deering, Deborah Estrin, Scott Shenker and Daniel Zappala, <a href="/static/pubs/rsvp.pdf">RSVP: A Resource ReSerVation Protocol</a>, IEEE Network, September 1993.</li>

</ul>

<h3>Conferences and Workshops</h3>

<ul class="spacing10">

<li>Brian Sanderson and Daniel Zappala, <a href="/static/pubs/bittorrent-seed-load-icccn09.pdf">Reducing Source Load in BitTorrent</a>, The 18th International Conference on Computer Communications and Networks (ICCCN 2009), August 2009.</li>

<li>Daniel Scofield, Lei Wang and Daniel Zappala, <a href="/static/pubs/hxh-wicon08.pdf">HxH: A Hop-by-Hop Transport Protocol for Multi-Hop Wireless Networks</a>, The Fourth International Wireless Internet Conference (WICON 2008), October 2008.</li>

<li>Jared Jardine and Daniel Zappala, <a href="/static/pubs/hybrid-architecture-netgames08.pdf">A Hybrid Architecture for Massively Multiplayer Online Games</a>, The Seventh Annual Workshop on Network and Systems Support for Games (NetGames), October 2008.</li>

<li>Manoj Pandey and Daniel Zappala, <a href="/static/pubs/hcp-mass08.pdf">Hop-by-Hop Multicast Transport for Mobile Ad Hoc Wireless Networks</a>, The Fifth IEEE International Conference on Mobile Ad Hoc and Sensor Systems (MASS), October 2008.</li>

<li>Manoj Pandey and Daniel Zappala, <a href="/static/pubs/assm-locan08.pdf">Scalable Multicast Routing for Ad Hoc Networks</a>, The Fourth International Workshop on Localized Communication and Topology Protocols for Ad Hoc Networks (LOCAN), October 2008.</li>

<li>Qiuyi Duan, Lei Wang, Charles D. Knutson and Daniel Zappala, <a href="/static/pubs/airs-mhwmn08.pdf">Autonomous and Intelligent Radio Switching for Heterogeneous Wireless Networks</a>, The Fourth IEEE International Workshop Heterogeneous Multi-Hop Wireless and Mobile Networks (MHWMN), October, 2008.</li>

<li>Qiuyi Duan, Lei Wang, Charles D. Knutson and Daniel Zappala, <a href="/static/pubs/link-quality-prediction-wowmom08.pdf">Link Quality Prediction for Wireless Devices with Multiple Radios</a>, IEEE International Symposium on World of Wireless, Mobile and Multimedia Networks (WoWMoM), June 2008.</li>

<li>Manoj Pandey, Roger Pack, Lei Wang, Qiuyi Duan and Daniel Zappala, <a href="/static/pubs/mda-infocom07.pdf">To Repair or Not to Repair: Helping Routing Protocols to Distinguish Mobility From Congestion</a>, IEEE Infocom MiniSymposia, May 2007.</li>

<li>Manoj Pandey, Daniel Delorey, Qiuyi Duan, Lei Wang, Charles Knutson, Daniel Zappala, and Ryan Woodings, <a href="/static/pubs/ria-wcnc07.pdf">RIA: An RF Interference Avoidance Algorithm for Heterogeneous Wireless Networks</a>, IEEE Wireless Communications and Networking Conference (WCNC), March 2007.</li>

<li>Manoj Pandey and Daniel Zappala, <a href="/static/pubs/scenario-multicast-wowmom05.pdf">A Scenario Based Evaluation of Mobile Ad Hoc Multicast Routing Protocols</a>, IEEE International Symposium on World of Wireless, Mobile and Multimedia Networks (WoWMoM), June 2005.</li>

<li>Chris GauthierDickey, Virginia Lo, and Daniel Zappala, <a href="/static/pubs/event-ordering-nossdav05.pdf">Using N-Trees for Scalable Event Ordering in Peer-to-Peer Games</a>, ACM NOSSDAV, June 2005.</li>

<li>Daniel Stutzbach, Daniel Zappala, and Reza Rejaie, <a href="/static/pubs/swarming-networking05.pdf.pdf">The Scalability of Swarming Peer-to-Peer Content Delivery</a>, IFIP Networking, May, 2005.</li>

<li>Chris GauthierDickey, Daniel Zappala, and Virginia Lo, <a href="/static/pubs/distributed-games-netgames04.pdf">A Distributed Architecture for Massively Multiplayer Online Games</a>, ACM SIGCOMM 2004 Workshop on Network and System Support for Games, September 2004.</li>

<li>Chris GauthierDickey,  Daniel Zappala, Virginia Lo, and James Marr, <a href="/static/pubs/neo-nossdav04.pdf">Low Latency and Cheat-Proof Event Ordering for Peer-to-Peer Games</a>, The 14th ACM International Workshop on Network and Operating System Support for Digital Audio and Video, June 2004.</li>

<li>Virginia Lo, Daniel Zappala, Dayi Zhou, Yuhong Liu, and Shanyu Zhao, <a href="/static/pubs/ccof-iptps04.pdf">Cluster Computing on the Fly: P2P Scheduling of Idle Cycles in the Internet</a>, Third International Workshop on Peer-to-Peer Systems (IPTPS), February 2004.</li>

<li>Daniel Zappala, Chris GauthierDickey, and Virginia Lo, <a href="/static/pubs/malloc-model-gis02.pdf">Modeling the Multicast Address Allocation Problem</a>, IEEE Globecom, Seventh Global Internet Symposium, November 2002.</li>

<li>Virginia Lo, Daniel Zappala, Chris GauthierDickey, and Tim Singer, <a href="/static/pubs/malloc-theory-gis02.pdf">A Theoretical Framework for the Multicast Address Allocation Problem</a>, IEEE Globecom, Seventh Global Internet Symposium, November 2002.</li>

<li>Daniel Zappala and Dayi Zhou, <a href="/static/pubs/qapr-icccn02.pdf">Performance Evaluation of Path Searching Heuristics for Multicast QoS Routing</a>, IEEE 11th International Conference on Computer Communications and Networks (ICCCN), October 2002.</li>

<li>Daniel Zappala, and Aaron Fabbri, <a href="/static/pubs/ssm-gis01.pdf">Using SSM Proxies to Provide Efficient Multiple-Source Multicast Delivery</a>, IEEE Globecom, Sixth Global Internet Symposium, Volume 3, pages 1590-1594, November 2001.</li>

<li>Daniel Zappala, and Aaron Fabbri, <a href="/static/pubs/mct-icn01.pdf">An Evaluation of Shared Multicast Trees with Multiple Active Cores</a>, IEEE International Conference on Networking, ICN'01, July 2001.</li>

<li>Daniel Zappala, <a href="/static/pubs/apm-infocom00.pdf">Alternate Path Routing for Multicast</a>, IEEE Infocom 2000, Conference on Computer Communications, March 2000.</li>

<li>Marilyn Livingston, Virginia Lo, Kurt Windisch, and Daniel Zappala, <a href="/static/pubs/cba-ngc99.pdf">Cyclic Block Allocation</a>, First International Workshop on Networked Group Communication, November 1999.</li>

</ul>

<h3>Presentations</h3>

<ul class="spacing10">

<li>Chris GauthierDickey, Daniel Zappala, and Virginia Lo, <a href="/static/pubs/distributed-games-netgames04.pdf">A Fully Distributed Architecture for Massively Multiplayer Online Games</a>, ACM SIGCOMM 2004 Workshop on Network and System Support for Games, September 2003.</li>

<li>Arthur Farley, Virginia Lo, Andrzej Proskurowski, and Daniel Zappala, Issues in Scalable Multicast Protocols, DIMACS Workshop on Multicasting: Architecture, Algorithms, and Applications, May 2001.</li>

<li>Daniel Zappala and Aaaron Fabbri, Deploying SSM Proxies for Efficient Multiple-Source Multicast Delivery, Internet2 Network Research Workshop, April 2001.</li>

</ul>

<h3>Dissertation</h3>

<ul class="spacing10">

<li>Daniel Zappala, <a href="/static/pubs/zappala-phd.pdf">Multicast Routing Support for Real-Time Applications</a>, PhD Dissertation, University of Southern California, August, 1997.</li>

</ul>

<h3>Technical Reports</h3>

<ul class="spacing10">

<li>Daniel Stutzbach, Daniel Zappala, and Reza Rejaie, <a href="/static/pubs/swarming-tech04.pdf">Swarming: Scalable Content Delivery for the Masses</a>, January, 2004 (Technical Report, UO-CIS-TR-2004-1).</li>

<li>Manoj Pandey and Daniel Zappala, <a href="/static/pubs/mobility-multicast-tech04.pdf">The Effects of Mobility on Multicast Routing in Ad Hoc Networks</a>, March, 2004 (Technical Report, UO-CIS-TR-2004-2).</li>

<li>Sandeep Bajaj, Lee Breslau, Deborah Estrin, Kevin Fall, Sally Floyd, Padma Haldar, Mark Handley, Ahmed Helmy, John Heidemann, Polly Huang, Satish Kumar, Steven McCanne, Reza Rejaie, Puneet Sharma, Kannan Varadhan, Ya Xu, Haobo Yu, Daniel Zappala, <a href="/static/pubs/usc-cs-tr-99-702.pdf">Improving Simulation for Network Research</a>, Department of Computer Science, University of Southern California, Technical Report USC-CS-TR-99-702, March, 1999.</li>

<li>Sandeep Bajaj, Lee Breslau, Deborah Estrin, Kevin Fall, Sally Floyd, Padma Haldar, Mark Handley, Ahmed Helmy, John Heidemann, Polly Huang, Satish Kumar, Steven McCanne, Reza Rejaie, Puneet Sharma, Kannan Varadhan, Ya Xu, Haobo Yu, Daniel Zappala, <a href="/static/pubs/usc-cs-tr-98-678.pdf">Virtual InterNetwork Testbed: Status and Research Agenda</a>, Department of Computer Science, University of Southern California, Technical Report USC-CS-TR-98-678, July, 1998.</li>

<li>Daniel Zappala , Deborah Estrin, and Scott Shenker, <a href="/static/pubs/usc-cs-tr-97-655.pdf">Alternate Path Routing and Pinning for Interdomain Multicast Routing</a>, Department of Computer Science, University of Southern California, USC-CS-TR-97-655, August, 1997.</li>

<li>Lee Breslau, D. Estrin, Daniel Zappala, and Lixia Zhang, <a href="/static/pubs/usc-tr-limited.pdf">Limited Distribution Updates to Reduce Overhead in Adaptive Internetwork Routing</a>, Department of Computer Science, University of Southern California, USC-CS-TR-93-532, 1993.</li>

</ul>

    </div>
  </div>
</div>

{% endblock %}
