{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Research</h1>

      <p>I am broadly interested in making the Internet work
	better. This includes improving the infrastructure of the
	Internet (routing and transport protocols), enhancing
	applications (streaming video, peer-to-peer networking),
	and better understanding how we use the Internet (measurement,
	social networking).</p>

      <h3>Current Research</h3>

      <h2><a href="http://internet.byu.edu/research/personal-cloud">Personal Cloud Computing</a></h2>

      <p>Designing a personal cloud system that transparently organizes
	all of the files on your mobile and home computing devices.</p>

      <img class="width-400" src="/static/img/cloud-vision.png">

      <h2><a href="http://internet.byu.edu/research/sentiment-analysis">Sentiment Analysis</a></h2>

      <p>Exploring how to automatically classify the political
      sentiment of tweets, so that we can better quantify political
      feelings of people around the world and track their changes over
      time.</p>

      <img class="width-400" src="/static/img/sentiment-us.png">

      <h2><a href="http://internet.byu.edu/research/wireless-networks">Wireless Networks</a></h2>

      <p>Improving transport over wireless mesh networks, which can be
	used to provide emergency services for urban areas or
	community networking for cities and developing countries.</p>

      <img class="width-400" src="/static/img/wireless.png">

      <p></p>

      <h3>Past Research</h3>

      <p>Past research topics include streaming video algorithms, peer-to-peer networking, and multicast routing. See <a href="/publications">Publications</a> for more details.</p>


    </div>
  </div>
</div>

{% endblock %}
