{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Schedule</h1>

      <p>If you would like to see me, please try to make it to my
      office hours. If those times don't work for you, feel free to
      drop by during any of my unscheduled hours. You are also welcome
      to email me for an appointment if you need extended time.</p>

      <h2>Fall 2013</h2>

      <div class="row-fluid">
	<div class="span2">
	</div>
	{% for day in days %}
	<div class="span2 schedule">
	  <div class="day">
	  {{ day }}
	  </div>
	</div>
	{% endfor %}
      </div>
      {% for time in times %}
      <div class="row-fluid">
	<div class="span2 schedule">
	  <div class="time">
	    {{ time }}
	  </div>
	</div>
	{% for day in days %}
	<div class="span2 schedule">
	  <div class="item">
	  {% if schedule[day][time] %}
	  {{ schedule[day][time] }}
	  {% else %}
	    &nbsp;
	  {% endif %}
	  </div>
	</div>
	{% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
