{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Software</h1>

      <a href="http://www.eff.org"><img class="height-50 right" src="/static/img/eff.png"></a>

      <p>I am a strong proponent of free and open source software, and
	I am also an advocate for software patent reform. Please
	support the <a href="http://www.eff.org">Electronic Frontier
	Foundation</a>.</p>

      <p>Code is developed through
      the <a href="http://internet.byu.edu">Internet Research Lab</a>
      and the <a href="http://osl.byu.edu/">Open Source Lab</a>.</p>

      <h3>Network Research</h3>

      <h2><a href="https://github.com/zappala/wifu">WiFu</a></h2>

      <p>A composable toolkit for experimental wireless transport
      protocols, from
      the <a href="http://internet.byu.edu/research/wifu">WiFu
      project</a>. Designed to help researchers and developers create
      transport protocols in user space.</p>

      <h2><a href="https://github.com/zappala/omnet-extension">omnet-extension</a>
	and <a href="https://github.com/zappala/inet-extension">inet-extension</a></h2>

      <p>Code for OMNET++ that enables the simulator to interact with
	the decision engine of a streaming video player, from
	the <a href="/http://internet.byu.edu/research/dash">Dynamic
	Adaptive Streaming over HTTP project</a>.</p>

      <h3>Family History</h3>
      
      <h2><a href="http://leaf.byu.edu">leaf</a></h2>

      <p>A free website to analyze your FamilySearch tree and find
      people that need your attention. You can search for people who
      are missing a birth or marriage date, haven't yet been baptized,
      or numerous other criteria. Uses colorful charts or a
      Google-style search to show the results.</p>

      <p>Some of the code for leaf has been released
	as <a href="https://github.com/byu-osl/familytree-sample-app">FamilyTree
	sample app</a>.</p>

      <h2><a href="https://github.com/byu-osl/chiamo-android">Chiamo</a></h2>

      <p>A family history game for youth. In the very early stages of
      development. See
      the <a href="https://github.com/byu-osl/chiamo-android/wiki/Design">wireframe
      design</a> for what we're thinking about.</p>

      <h2><a href="https://github.com/rootsdev/python-gedcom-parser">Python
      GEDCOM Parser</a></h2>

      <p>A basic parser for the GEDCOM 5.5 format.</p>

      <h3>Civic Apps</h3>

      <h2><a href="http://citizenbudget.org">Citizen Budget</a></h2>

      <p>An online application showing the details of your city's
      finances, using charts and graphs. Used to display the budget
      for the city of <a href="http://cedarhills.org">Cedar Hills</a>
      at <a href="http://budget.cedarhills.org">budget.cedarhills.org</a>.</p>

      <h3>Web Design</h3>

      <p>I have started putting up all of the web pages as open
	source, with the graphics and design elements licensed via
	Creative Commons. These include:</p>

      <ul>
	<li>My <a href="https://github.com/zappala/personal-web">personal</a>
	  web pages for this
	  site, <a href="http://zappala/byu.edu">zappala.byu.edu</a>.</li>

	<li>My <a href="https://github.com/zappala/campaign">campaign</a>
	  pages for Cedar Hills City Council, hosted
	  at <a href="http://vote.zappala.org">vote.zappala.org</a>.</li>

	<li>The <a href="https://github.com/byu-ilab/ilab-web">pages</a>
	  for the <a href="http://osl.byu.edu">BYU Internet Research Lab</a>.</li>

	<li>The <a href="https://github.com/byu-osl/osl-webpages">pages</a>
	  for the <a href="http://osl.byu.edu">BYU Open Source Lab</a>.</li>

      </ul>

      <h3>Past Projects</h3>

      <p>Past projects (code not available here, but may be found on
      the Internet) include:</p>

      <ul class="spacing10">

	<li>RSVP: Resource Reservation Protocol. RVSP helps to provide
	Quality of Service connections in the Internet by making
	resource reservations on routers. It was conceived by a group
	of researchers at USC/ISI and Xerox PARC, then evolved into a
	proposed standard within the IETF. I worked as the primary
	author of RSVP code in the SunOS 4.3 kernel, which was later
	ported to the BSD operating system kernels. Reference code can
	be downloaded from the FreeBSD team. I was also a member of
	the ISI Development team, which wrote the RSVP daemon
	distributed by ISI. ISI's RSVP daemon is a reference
	implementation for various venders; for example, RSVP is
	currently implemented in several Cisco routers. See 
	  <i>L. Zhang , S. Deering, D. Estrin, S. Shenker and
	  D. Zappala, RSVP: A Resource ReSerVation Protocol. IEEE
	  Network, September 1993</i> and RFC 2205.</li>

	<li>RSRR: A Routing Interface for RSVP Daniel Zappala, with
	  revisions by Jeff Kann and others. RSRR is the interface
	  between RSVP (Internet resource reservation protocol) and
	  multicast routing protocols; RSRR is implemented in mrouted
	  (multicast routing daemon) and RSVPd (Resource Reservation
	  Protocol daemon). mrouted is distributed with most Unix
	  operating systems.</li>

	<li>Treecalc: A Tool for Evaluating Multicast Routing
	  Protocols, Daniel Zappala, with contributions by Aaron
	  Fabbri. Treecalc compares different types of multicast trees
	  based on delay, cost, traffic concentration, and router
	  state. This simulator was used for our work on multiple
	  cores and SSM proxies.</li>

	<li>SDRP: Source Demand Routing Protocol, Daniel Zappala and
	Kannan Varadhan. SDRP can be used to source route packets in
	the Internet, for example to avoid congestion. See RFC 1940.</li>

      </ul>

    </div>
  </div>
</div>

{% endblock %}
