{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="top">Teaching</h1>

      <p>I have primarily taught networking classes during my career,
      with a few forays into social networking and Western Civilization.</p>
      <p>I keep all my class materials available online, including syllabi,
	assignments, and code.</p>

      <h2><a href="http://ilab.cs.byu.edu/cs360">CS 360 Internet Programming</a></h2>
      <p>Internet application programming, including client-server and
      web applications. Sockets, concurrency, thread-pool and
      event-driven architectures, experimental performance
      evaluation, web database application design, security
      issues. C++, Python, CSS, Javascript.</p>

      <h2><a href="http://ilab.cs.byu.edu/cs460">CS 460 Computer Communications and Networking</a></h2>

      <p>Introductory course in networking for undergraduate and
      beginning graduate students. Focuses on
      understanding how the Internet works, from the application layer
      down to the link layer. Application-layer
      networking, transport protocols (TCP and UDP), routing
      protocols, IP, link-level protocols, wireless networking, and
      multimedia networking.</p>

      <h2><a href="http://ilab.cs.byu.edu/cs460">CS 660 Computer Networks</a></h2>

      <p>This graduate course explores advanced topics in computer
      networks, focusing on fundamental research being conducted to
      improve the Internet. Topics include applications, routing,
      transport, wireless, measurements and other Internet research
      areas.</p>

      <h3>Mentoring</h3>

      <p>I typically mentor teams of students interested in working on
	open source software, through either CS 598R or CS 428. In
	past semesters, this has led to the 20 Minute Genealogist
	project
	(now <a href="http://kinpoint.com">Kinpoint</a>), <a href="http://leaf.byu.edu">leaf</a>,
	and <a href="http://citizenbudget.org">Citizen Budget</a>. I
	run the <a href="http://osl.byu.edu">BYU Open Source Lab</a>
	to coordinate these activities.</p>

      <h3>Past Classes</h3>

      <h2><a href="http://ilab.cs.byu.edu/cs601">CS 601 Special Topics</a></h2>    

      <p>Graduate courses on <a href="http://ilab.cs.byu.edu/cs601/2013w">Social Networking</a>, <a href="http://ilab.cs.byu.edu/cs601/2010w">Wireless Mesh Networks</a>, and <a href="http://ilab.cs.byu.edu/cs601/2005w">Peer-to-Peer Networking</a>.</p>

      <h2><a href="http://digitalcivilization.blogspot.com/2010/08/welcome-to-class.html">Digital Civilization</a></h2>
      
      <p>Honors 202 Western Civilization 2, co-taught with Gideon
	Burton in the English department in Fall 2010 and Winter 2012.
	Teaches western civilization from our current perspective in
	the digital revolution. The course emphasizes self-directed
	learning and the use of digital media (blogging, social
	bookmarking, social networking) to understand and relate to
	the history of Western civilization.</p>

      <p>For a good primer on the class, read these blog posts:</p>

      <ul>
	<li><a href="http://digitalcivilization.blogspot.com/2010/11/keynesian-beauty-contest.html">Keynesian Beauty Contest</a></li>
	<li><a href="http://digitalcivilization.blogspot.com/2010/11/social-discovery.html">Social Discovery</a></li>
	<li><a href="http://digitalcivilization.blogspot.com/2010/09/john-locke-and-internet.html">John Locke and the Internet</a></li>
	<li><a href="http://digitalcivilization.blogspot.com/2010/09/traditional-vs-digital-economies.html">Traditional vs. Digital Economies</a></li>
	<li><a href="http://digitalcivilization.blogspot.com/2010/09/ten-ways-out-of-google-or-wikipedia-rut.html">Ten Ways Out of the Google or Wikipedia Rut</a></li>
	<li><a href="http://digitalcivilization.blogspot.com/2010/10/romantic-hacker.html">The Romantic Hacker</a></li>
      </ul>

      <p>If you're interested, you can also watch our final project
      presentations, which were streamed live over the
      Internet: <a href="http://digitalcivilization.blogspot.com/2010/12/watch-digital-revolution.html">Watch
      the Digital Revolution</a>.

    </div>
  </div>
</div>

{% endblock %}
